<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <p> I'm Emmanuel de La Forest, I used to work in the legal team of a cryptocurrencies exchange in Japan. </p>
        <p> I learnt that I like the boring problems, the back-office issues, the ones that seem minor and uninteresting but that still matter a great deal. One of them being how can multiple teams work better together when they already have so much tools supposed to do just that but still seem to come short.</p>
        <p> That is one of the reasons that drove my interest into tech. We have so much of it, and paradoxally, most of use so little of its capabilities. </p>
      </div>
    </div>
  </div>
</div>
