<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <p> I'm Emmanuel de La Forest, I used to work in the legal team of a cryptocurrencies exchange in Japan. </p>
        <p> A lot of issues we encountered in our small team were related to the tools, how we used them an dhow they played with other teams own tools. Learning how to code was one way to add to my skillset and help me tackle those problems from a different angle</p>
        <p> My aim is to join a company that consult, deliver a solution, or need someone in-house, who would both understand the pains of back office functions and know the technical side to help building solutions that would address those pains</p>
      </div>
    </div>
  </div>
</div>
