<div id="banner-background" class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <%= image_tag 'emmanueldlfavatar4.jpg', alt: "profile photo", class: 'avatar-large avatar-bordered' %>
    <h1 class="title-main">Portfolio - Emmanuel de La Forest</h1>
  </div>
</div>
